<!DOCTYPE html>
<html>
<head>
  <title>Feature</title>
  <%= stylesheet_link_tag    "feature/application", media: "all" %>
  <%= javascript_include_tag "feature/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
